
@font-face {
  font-display: swap;

  font-family: 'Radio Canada';
  font-style: normal;
  font-weight: 400;
  src: url('../polices/radio-canada-v21-latin-regular.woff2') format('woff2');
 
}

@font-face {
  font-display: swap;
 
  font-family: 'Radio Canada';
  font-style: normal;
  font-weight: 500;
  src: url('../polices/radio-canada-v21-latin-500.woff2') format('woff2');

}

@font-face {
  font-display: swap;
 
  font-family: 'Radio Canada';
  font-style: normal;
  font-weight: 600;
  src: url('../polices/radio-canada-v21-latin-600.woff2') format('woff2');
 
}

@font-face {
  font-display: swap;
 
  font-family: 'Radio Canada';
  font-style: normal;
  font-weight: 700;
  src: url('../polices/radio-canada-v21-latin-700.woff2') format('woff2');

}

@font-face {
  font-display: swap;
  
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../polices/quicksand-v31-latin-regular.woff2') format('woff2');

}

@font-face {
  font-display: swap;

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('../polices/quicksand-v31-latin-700.woff2') format('woff2');
 
}

@font-face {
  font-display: swap;
 
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url('../polices/questrial-v18-latin-regular.woff2') format('woff2');
 
}

@font-face {
  font-display: swap;
 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../polices/inter-v13-latin-800.woff2') format('woff2');
 
}
.flex-horizontal {
  display: flex;
  flex-direction: row;
}
.flex-horizontal.reverse {
  flex-direction: row-reverse;
}
.flex-horizontal > .separator {
  height: 100%;
  width: 1px;
  background: #000;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.flex-vertical.reverse {
  flex-direction: column-reverse;
}
.flex-vertical > .separator {
  width: 100%;
  height: 1px;
  background: #000;
}
.flex-fill {
  flex: 1;
}
.align-center {
  align: center;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.flex-wrap {
  flex-wrap: wrap;
}
.clickable {
  cursor: pointer;
}
html,
body {
  margin: 0;
  background: #F5EEE3;
  color: #000;
  font-family: "Radio Canada";
}
body {
  padding-bottom: 100px;
}
.icon {
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.icon.hamburger {
  background-image: url("../icones/hamburger.png");
}
.icon.shop {
  background-image: url("../icones/shop.png");
}
.icon.ticket {
  background-image: url("../icones/ticket.png");
}
.icon.dot {
  background-image: url("../icones/dot.png");
}
.icon.clock {
  background-image: url("../icones/clock.png");
}
.icon.pin {
  background-image: url("../icones/pin.png");
}
.icon.checklist {
  background-image: url("../icones/checklist.png");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.header {
  padding: 30px 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  background: #F5EEE3;
}
.header .menu-item {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.header .menu-item .icon {
  width: 28px;
  height: 28px;
}
.header .logo {
  height: 60px;
  cursor: pointer;
}
.header-placeholder {
  height: 130px;
}
.button-big {
  font-family: inter;
  color: #fff;
  background: #000;
  padding: 9px 18px;
  font-size: 18px;
  border-radius: 18px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 200ms cubic-bezier(0, 0, 0, 1), opacity 0ms;
}
.button-big:hover {
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.button-big:active {
  transition: 0ms;
  opacity: 0.6;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.banner-splash {
  margin-top: 20px;
  width: 100%;
  height: 60vh;
  background-image: url("../images/banner-background.jpg");
  background-size: cover;
  background-position: bottom 45% center;
  padding: 8vh calc((100vw - 900px) / 2);
  box-sizing: border-box;
  gap: 4vh;
}
.banner-splash .splash-options {
  gap: 15px;
  font-size: 16px;
  font-weight: 600;
}
.banner-splash .splash-options .icon {
  margin-right: 10px;
}
body > section {
  width: 900px;
  margin: auto;
  margin-top: 65px;
}
body > section h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
.center-split {
  gap: 30px;
}
.center-split .center-split-img {
  max-width: 40vw;
  max-height: 70vh;
}
.center-split .center-split-text {
  font-family: "Radio Canada";
  font-size: 15px;
  font-weight: 400;
}
.center-split .center-split-text section {
  gap: 15px;
  padding: 30px 20px;
}
.center-split .center-split-text section h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
.center-split .center-split-text section p {
  margin: 0px;
  line-height: 1.5em;
}
.timetable {
  width: 100%;
  line-height: 1.7em;
}
.expositions {
  gap: 16px;
  width: 100%;
}
.expositions .exposition {
  background-size: cover;
  width: calc(50% - 16px);
  align-items: center;
  justify-content: space-evenly;
  height: min(30vh, 270px);
  background-color: #000;
  color: #fff;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.expositions .exposition::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 0;
  opacity: 0;
  transition: 200ms ease;
}
.expositions .exposition p {
  z-index: 1;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  max-width: 80%;
  opacity: 0;
  transition: 200ms ease;
}
.expositions .exposition:hover::before,
.expositions .exposition:hover p {
  opacity: 1;
}
